<script type="text/javascript">

  var current_artists = [];
  var current_artwork = [];
  function displayCurrentArtists()
  {
    $('#hidden').empty();
    $('#current-artists').empty();
    if (current_artists.length > 0)
    {
      for (var x = 0; x < current_artists.length; x++)
      {
        var name = current_artists[x];
        $('#hidden').append($('<input type="hidden"' + '" name="artist_name[]"' + '" value="' + name + '">'));
        $('#current-artists').append($('<li class="' + name + '">' + name + '</li>'));
      }
    }
  }

  function displayCurrentArtwork()
  {
    $('#hidden_artwork').empty();
    $('#current-artwork').empty();
    if (current_artwork.length > 0)
    {
      for (var x = 0; x < current_artwork.length; x++)
      {
        var name = current_artwork[x];
        $('#hidden_artwork').append($('<input type="hidden"' + '" name="artwork_name[]"' + '" value="' + name + '">'));
        $('#current-artwork').append($('<li class="' + name + '">' + name + '</li>'));
      }
    }
  }

</script>
<!-- Modal HTML -->

    <div id="artist-model" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">New Artist</h4>
                </div>
                <div class="modal-body">
                    <%= form_for @artist, :html => { :multipart => true }, :remote => true do |f| %>
                  <div class="field">
                    <%= f.label :name %><br>
                    <%= f.text_field :name %>
                  </div>
                </div>
                <div class="modal-footer">
                    <div class="actions">
                      <%= f.submit class: "btn btn-primary", data: { dismiss: "model" } %>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <div id="artwork-model" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">New Artwork</h4>
                </div>
                <div class="modal-body">
                    <%= form_for @art, :html => { :multipart => true }, :remote => true do |f| %>
                <div class="field">
                  <%= f.label :name %><br>
                  <%= f.text_field :name %>
                </div>
                <div class="field">
                  <%= f.label :image %><br>
                  <%= f.file_field :image, id: 'input-21', accept: 'image/*'%>
                </div>
                <div class="field">
                  <label for="artist-dropdown">Add Artists</label><br>
                  <select name="artist" id="artist-artwork-dropdown" class="bootstrap-select">
                    <option value="placeholder">Placeholder</option>
                    <div id="hidden-for-artwork" class="field"></div>
                  </select>
                </div>
                </div>
                <div class="modal-footer">
                    <div class="actions">
                      <%= f.submit class: "btn btn-primary", data: { dismiss: "model" }%>
                      <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>    
  <table width="100%">
    <tr>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
    <tr>
      <td>
        <div class='input-group date' id='datetimepicker1'>  
          <%= f.text_field :time, class: "form-control" , placeholder: "Start Time"%>
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </td>
      <td>
        <div class='input-group date' id='datetimepicker2'>  
          <%= f.text_field :end_time, class: "form-control" , placeholder: "End Time"%>
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </td>
    </tr>
  </table>
  <div class="field">
    <%= f.label :about %><br>
    <%= f.text_area :about %>
  </div>
  <div class="field">
    <%= f.label :history %><br>
    <%= f.text_area :history %>
  </div>
  <div class="field">
    <%= f.label :poster %><br>
    <%= f.file_field :poster, id: 'input-22', accept: 'image/*'%>
  </div>
  <div class="field">
    <label for="current-artists">Current Artists</label><br>
    <ul id="current-artists">
      <% if @event.artists.size > 0 %>
        <% @event.artists.each do |artist| %>
        <script>current_artists.push("<%= artist.name %>")</script>
        <% end %>
        <script>displayCurrentArtists();</script>
      <% end %>
    </ul>
  </div>
  <div class="field">
    <label for="artist-dropdown">Add Artists</label><br>
    <select id="artist-dropdown" class="bootstrap-select">
      <option value="placeholder">Placeholder</option>
      <div id="hidden" class="field"></div>
    </select>
    <!-- Button HTML (to Trigger Modal) -->
    <button id="add-artist" class="btn btn-primary">Add Artist</button>
    <button id="remove_artist" class="btn btn-primary">Remove Artist</button>
    <a href="#artist-model" role="button" class="btn btn-primary" data-toggle="modal">New Artist</a>
  </div>
  <div class="field">
    <label for="current-artwork">Current Artwork</label><br>
    <ul id="current-artwork">
      <% if @event.arts.size > 0 %>
        <% @event.arts.each do |artwork| %>
        <script>current_artwork.push("<%= artwork.name %>")</script>
        <% end %>
        <script>displayCurrentArtwork();</script>
      <% end %>
    </ul>
  </div>
  <div class="field">
    <label for="artwork-dropdown">Add Artwork</label><br>
    <select id="artwork-dropdown" class="bootstrap-select">
      <option value="placeholder">Placeholder</option>
    </select>
    <!-- Button HTML (to Trigger Modal) -->
    <button id="add-artwork" class="btn btn-primary">Add Artwork</button>
    <button id="remove_artwork" class="btn btn-primary">Remove Artwork</button>
    <a href="#artwork-model" role="button" class="btn btn-primary" data-toggle="modal">New Artwork</a>
  </div>
  <div id="hidden" class="field">
    <% if @event.artists.size > 0 %>
        <% @event.artists.each do |artist| %>
        <input type="hidden" name="artist_name[]" value="<%= artist.name %>">
        <% end %>
      <% end %>
  </div>
  <div id="hidden_artwork" class="field">
    <% if @event.arts.size > 0 %>
      <% @event.arts.each do |artwork| %>
      <input type="hidden" name="artwork_name[]" value="<%= artwork.name %>">
      <% end %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>
<script>

  $('#new_artist').bind('ajax:success', function(evt, data, status, xhr)
  {
    getArtists();
  });

  $('#new_artwork').bind('ajax:success', function(evt, data, status, xhr)
  {
    getArtwork();
  });

  $(function () 
  {
    jQuery.noConflict();
    $('#datetimepicker1').datetimepicker();
    $('#datetimepicker2').datetimepicker();
    $("#datetimepicker1").on("dp.change", function (e) 
    {
      if($('#datetimepicker1').data("DateTimePicker").date() == null)
      {
        $('#datetimepicker1').data("DateTimePicker").date(new Date());
      }
      $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
    });
    $("#datetimepicker2").on("dp.change", function (e) 
    {
      $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
    });
    $('#datetimepicker1').data("DateTimePicker").date(new Date());
    $('#datetimepicker2').data("DateTimePicker").date(new Date());
  });
  
  function getArtists()
  {
    $.get( "http://localhost:3000/get_artists", 
      function( response ) 
      {       
        if (response != null)
          refreshArtists(response);
      });
  }

  function getArtwork()
  {
    $.get( "http://localhost:3000/get_artwork", 
      function( response ) 
      {       
        if (response != null)
          refreshArtwork(response);
      });
  }

  $('#new_art').submit(function()
  {
    console.log("Success!!");
    jQuery.noConflict();
    $('#artwork-model').modal('hide');
  });
  
  $('#new_artist').submit(function()
  {
    console.log("Success!!");
    jQuery.noConflict();
    $('#artist-model').modal('hide');
  });

  $('#new_event').submit(function()
  {
    console.log("Success!!");
  });

  function refreshArtists(response)
  {
    $('#artist-dropdown').empty();
    $('#artist-artwork-dropdown').empty(); 
    $('#artist-artwork-dropdown').append('<option>None</option>');         
    var ary = response;
    
    for (var i = 0; i < ary.length; i++) 
    {
      var id = ary[i].id;
      var name = ary[i].name;
      $('#artist-dropdown').append($('<option ' + 'id="' + id + '" class="' + name + '">' + ary[i].name +'</option>'));
      $('#artist-artwork-dropdown').append($('<option ' + 'id="' + id + '" class="' + name + '">' + ary[i].name +'</option>'));
    } 
  }

  function refreshArtwork(response)
  {
    $('#artwork-dropdown').empty();
    console.log("In function.");
    var ary = response;
    
    for (var i = 0; i < ary.length; i++) 
    {
      var id = ary[i].id;
      var name = ary[i].name;

      $('#artwork-dropdown').append($('<option ' + 'id="' + id + '" class="' + name + '">' + name +'</option>'));
    } 
  }
    
  getArtists();
  getArtwork();

  $('#add-artist').click(function(event)
  {
      event.preventDefault();
      var name = $('#artist-dropdown').val();
      current_artists.push(name);
      displayCurrentArtists();
      return false;
  });
  
  $('#add-artwork').click(function(event)
  {
      event.preventDefault();
      var name = $('#artwork-dropdown').val();
      current_artwork.push(name);
      displayCurrentArtwork();
      return false;
  });

  $('#remove_artist').click(function(event)
  {
    event.preventDefault();
    var name = $('#artist-dropdown').val();
    var index = $.inArray(name, current_artists);
    current_artists.splice(index, 1);
    displayCurrentArtists();
  });

  $('#remove_artwork').click(function(event)
  {
    event.preventDefault();
    var name = $('#artwork-dropdown').val();
    var index = $.inArray(name, current_artwork);
    current_artwork.splice(index, 1);
    displayCurrentArtwork();
  });

</script>
