<% provide(:title, "Upcoming Events") %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 col-md-2 sidebar">
      <!--Sidebar content goes here -->
      <h2 id="trending-bar" class="page-header">Popular</h2>

      <% @popular.each do |trending| %>
        <a class="fancybox" rel="group" title="<%= trending.name %>" href="<%= trending.image.url %>"><img class="trending-thumbnail" src="<%= trending.image.url(:large) %>" width="90%"></a>
      <% end %>
    </div>
    <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 main main-event-panel">
    <h1 class="page-header">Upcoming Events</h1>
    <% @events.each do |event| %>
      
      <div class="event-div">
          <table id="event-table">
          <tr>
            <td class="event left"><%= image_tag event.poster.url(:home) %></td>
            <td class="event right">
            <h3><%= link_to(event.title, event, class: 'link-without-style') %></br><small><%= getTimeString(event.time, event.end_time) %> - <%= event.location %></small></h3></br>
            <p><%= event.about %></p>
            <p><%= event.history %></p>
            </td>
          </tr>
          </table>
        </div> 

    <% end %>  
      </div>
    </div>
  </div>

  <script type="text/javascript">
      $(document).ready(function() 
      {
        $('.footer').addClass("margin-left-home");
        $('#debug-console').attr('id', 'console-margin');
      });
  </script>

