<% provide(:title, "Event Details") %>

<div id="event-container">
        
  <div id="event-left-panel">
    <center>
      <% if @event.time[0..9] == @event.end_time[0..9] 
        end_time = @event.end_time[10..@event.end_time.length]
        else
        end_time = @event.end_time
        end %>
    	<%= image_tag @event.poster.url(:home), class: 'poster' %>
      <h3><%= getTitle(@event.title) %></br><small><%= @event.time %> - <%= end_time %></br>
      Located in: <%= getLocation(@event.location) %></small></h3>
    </center>
  </div>
        
  <div id="event-right-panel">
    <h3>About This Event</h3>
    <p><%= @event.about %></p>

    <% if @event.artists.size > 0 %>
    <h3>Artists Include:</h3>
    <ul>
    <% @event.artists.each do |artist| %>
      <li><%= link_to artist.name, artist %></li>
    <% end %>  
    </ul>
    <% end %>

    <p><%= @event.history %></p>
    
  </div>
  <p class="float-clear"></p>
  <div id="gallery" class="container panel">
  <h2 id="gallery-header" class="page-header">Image Gallery</h2>
  <center>
  	<% if @event.arts.size == 0 %>
    	<a class="fancybox" rel="group" href="/images/noImageAvailable.jpg">
	      <div class="img-thumbnail image-thumbnail">
	        <img class="imagetag" src="/images/noImageAvailable.jpg">
	      </div>
    	</a>
    <% end %>
    <% @event.arts.each do |art| %>
    <a class="fancybox" title='<a href="/arts/<%= art.id %>"><%= art.name %></a>' rel="group" href="<%= art.image.url %>">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="<%= art.image.url(:thumb) %>">
      </div>
    </a>
    <% @count = @count + 1 %>
    <% if @count % 4 == 0 %>
    <p class="float-clear"></p>
    <% end %>
    <% end %>
    
  

  <p class="float-clear"></p>
  </center>
</div>
<% if logged_in? %>
  <div id="bottom-links"><%= link_to 'Edit', edit_event_path(@event) %> | <%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %></div>
<% end %>


