<%= form_for @art, :html => { :multipart => true } do |f| %>
  <% if @art.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@art.errors.count, "error") %> prohibited this art from being saved:</h2>

      <ul>
      <% @art.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image, id: 'input-21', accept: 'image/*'%>
  </div>
  <div class="field">
    <label for="artist-dropdown">Artist</label><br>
    <select name="artist" id="artist-artwork-dropdown" class="bootstrap-select">
      <option value="placeholder">Placeholder</option>
      <div id="hidden-for-artwork" class="field"></div>
    </select>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>
<script type="text/javascript">
  function getArtists()
  {
    $.get( "http://localhost:3000/get_artists", 
      function( response ) 
      {       
        if (response != null)
          refreshArtists(response);
      });
  }

  function refreshArtists(response)
  {
    $('#artist-artwork-dropdown').empty();
    $('#artist-artwork-dropdown').append($('<option>None</option>'));
    var ary = response;
    
    for (var i = 0; i < ary.length; i++) 
    {
      var id = ary[i].id;
      var name = ary[i].name;
      var artist_name = "<%= @name %>";

      if (name == artist_name)
      {
        $('#artist-artwork-dropdown').append($('<option selected="selected"' + 'id="' + id + '" class="' + name + '">' + ary[i].name +'</option>'));
      }
      else
      {
        $('#artist-artwork-dropdown').append($('<option ' + 'id="' + id + '" class="' + name + '">' + ary[i].name +'</option>'));
      }
    }
  }

  getArtists();

</script>