<div class="container">
    <p id="notice"><%= notice %></p>

    <h1 class="page-header">Listing Artwork</h1>

    <table class="table">
      <thead>
        <tr>
          <th width="205">Image</th>
          <th>Name</th>
          <th>Number of Events</th>
          <th>Multiple Artists</th>
          <th colspan="3">Controls</th>
        </tr>
      </thead>

      <tbody>
        <% @arts.each do |art| %>
          <tr>
            <td><%= image_tag art.image.url(:thumb) %></td>
            <td><%= art.name %></td>
            <td><%= art.events.size %></td>
            <td><% if art.artists.size > 0 %>Yes<% else %>No <% end %></td>
            <td><%= link_to 'Show', art %></td>
            <td><%= link_to 'Edit', edit_art_path(art) %></td>
            <td><%= link_to 'Destroy', art, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Art', new_art_path %>
</div>