<div class="container">
	<p id="notice"><%= notice %></p>

	<p>
		<%= link_to(image_tag(@art.image.url(:large)), @art.image.url) %>
	</p>

	<p>
	  <strong>Title:</strong>
	  <%= @art.name %>
	</p>

	<p>
		<strong>Events:</br></strong>
		<% if @art.events.size == 0 %>
			None added.
		<% end %>
		<% @art.events.each do |event| %>
			<%= link_to event.title, event %></br>
		<% end %>
	</p>

	<p>
		<strong>Artists:</br></strong>
		<% if @art.artists.size == 0 %>
			None added.
		<% end %>
		<% @art.artists.each do |artist| %>
			<%= link_to(artist.name, artist) %></br>
		<% end %>
	</p>

	<%= link_to 'Edit', edit_art_path(@art) %> |
	<%= link_to 'Back', arts_path %>
</div>